body {
    background-color: #4167E5;
    font-weight: bold;
}

header {
    text-align: center;
    background-color: #FFF;
    padding: 20px;
    
}

main {
    margin-top: 50px;
}

.card-senhas {
    background-color: #FFF;
    border: #FFF solid 1px;
    border-radius: 5px;
    padding: 20px;
}

.card-info {
    text-align: center;
    font-size: 2.5rem;
}

.card-info span{
    color: #FF0000;
}

.card-historico {
    margin-top: 50px;
}

.btns-senha {
    margin-top: 50px;
}